[submodule "introduction-to-python"]
	path = introduction-to-python
	url = git@github.com:harunagca/introduction-to-python
[submodule "introduction-to-nodejs"]
	path = introduction-to-nodejs
	url = git@github.com:harunagca/introduction-to-nodejs
